<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title></title>
    <link href="{$smarty.const.PUBLIC_URL}css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <!--页眉-->
    <div class="row " style="height: 110px;background:url({$smarty.const.PUBLIC_URL}Home/Index/img/headbg.jpg) repeat-x left bottom" >
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <a href="{$smarty.const.SHOP_URL}" class="logo" style="background:url(//misc.360buyimg.com/user/reg/1.0.0/css/i/icon.png) no-repeat;width:160px;height:50px;float:left;margin-top:24px"></a>
            <div class="logo-title" style="float:left;height:34px;line-height:34px;font-size:20px;color:#000;border-left:solid 1px #bbb;margin-left:25px;padding-left:25px;margin-top:36px"><b>欢 迎 注 册</b></div>
            <div class="have-account" style="font-size:16px;float:right;margin-top:55px;color:#999"><b>已有账号 <a href="{$smarty.const.__MODULE__}/Index/login" style="color: #333"><i class="glyphicon glyphicon-user"></i> 请登录</a></b></div>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row" style="height: 50px;"></div>

    <!--注册表单-->
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <form class="form-horizontal" name="register" action="{$smarty.const.__SELF__}" method="post" onSubmit="return fromCheck();">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">用　户　名：</label>
                        <div class="col-sm-9">
                            <input type="text" name="username" class="form-control" placeholder="您的账户名和登录名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">设 置 密 码：</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="password" placeholder="建议至少使用两种字符组合">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">确 认 密 码：</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="repassword" placeholder="请再次输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">手　机　号：</label>
                        <div class="col-sm-5">
                            <input type="text" name="mobile" class="form-control" placeholder="请输入手机号">
                        </div>
                        <div class="col-sm-3"><span class="help-block m-b-none">或<a href="#"> 邮箱注册</a></span></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">验　证　码：</label>
                        <div class="col-sm-4">
                            <input type="text" name="captcha" class="form-control" placeholder="请输入验证码">
                        </div>
                        <div class="col-sm-4">
                            <img src="{$smarty.const.__CONTROLLER__}/verifyImg" title="看不清?点击图片更换验证码" style="cursor:pointer" onclick="this.src='{$smarty.const.__CONTROLLER__}/verifyImg'"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">手机验证码：</label>
                        <div class="col-sm-4">
                            <input type="text" name="mobilecode" class="form-control" placeholder="请输入手机验证码">
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-default" style="width: 100%">获取验证码</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="-NaN"></label>
                        <div class="col-sm-9">
                            <label class="checkbox-inline" for="-NaN">
                                <input type="checkbox" value="option1" id="-NaN" checked>我已阅读并同意<a href="#" style="text-decoration: none" target="_blank">《鸿宇用户注册协议》</a></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-11 col-sm-offset-3">
                        <button class="btn btn-success col-sm-4" style="margin-left: 5px;" type="submit">立即注册</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-3" style="border-left:solid 1px #e6e6e6">
            <div class="phone-fast-reg" style="margin-left:30px;background:url(//misc.360buyimg.com/user/reg/1.0.0/widget/personal-reg/i/phone.jpg) no-repeat;width:213px;height:400px"></div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<script src="{$smarty.const.PUBLIC_URL}js/jquery.min.js"></script>
<script src="{$smarty.const.PUBLIC_URL}js/bootstrap.min.js"></script>
<script type="text/javascript">
//    window.onload = function() {
//        var reg = document.register;
//
//        //用户名
//        reg.username.onfocus = function(){
//            if (reg.username.value == "") {
//                this.style.cssText ="border:1px solid #ccc;";
//                this.setAttribute("placeholder","您的账户名和登录名");
//            }
//        };
//        reg.username.onblur  = function(){
//            if (reg.username.value == "") {
//                this.style.cssText = "border:1px solid red;";
//                this.setAttribute("placeholder", "用户名不能为空");
//            }
//        };
//
//        //密码
//        reg.password.onfocus = function(){
//            if (reg.password.value == "") {
//                this.style.cssText ="border:1px solid #ccc;";
//                this.setAttribute("placeholder","建议至少使用两种字符组合");
//            }
//        };
//        reg.password.onblur  = function(){
//            if (reg.password.value == "") {
//                this.style.cssText = "border:1px solid red;";
//                this.setAttribute("placeholder", "密码不能为空");
//            }
//        };
//
//        //再次输入密码
//        reg.repassword.onfocus = function(){
//            if (reg.repassword.value == "") {
//                this.style.cssText ="border:1px solid #ccc;";
//                this.setAttribute("placeholder","请再次输入密码");
//            }
//        };
//        reg.repassword.onblur  = function(){
//            if (reg.repassword.value == "") {
//                this.style.cssText = "border:1px solid red;";
//                this.setAttribute("placeholder", "请再次输入密码");
//            }
//        };
//
//        //手机号
//        reg.mobile.onfocus = function(){
//            if (reg.mobile.value == "") {
//                this.style.cssText ="border:1px solid #ccc;";
//                this.setAttribute("placeholder","请输入手机号");
//            }
//        };
//        reg.mobile.onblur  = function(){
//            if (reg.mobile.value == "") {
//                this.style.cssText = "border:1px solid red;";
//                this.setAttribute("placeholder", "手机号不能为空");
//            }
//        };
//        //验证码
//        reg.verify.onfocus = function(){
//            if (reg.verify.value == "") {
//                this.style.cssText ="border:1px solid #ccc;";
//                this.setAttribute("placeholder","请输入验证码");
//            }
//        };
//        reg.verify.onblur  = function(){
//            if (reg.verify.value == "") {
//                this.style.cssText = "border:1px solid red;";
//                this.setAttribute("placeholder", "验证码不能为空");
//            }
//        };
//
//        //手机验证码
//        reg.mobilecode.onfocus = function(){
//            if (reg.mobilecode.value == "") {
//                this.style.cssText ="border:1px solid #ccc;";
//                this.setAttribute("placeholder","请输入手机验证码");
//            }
//        };
//        reg.mobilecode.onblur  = function(){
//            if (reg.mobilecode.value == "") {
//                this.style.cssText = "border:1px solid red;";
//                this.setAttribute("placeholder", "手机验证码不能为空");
//            }
//        };
//    };
//
//    function fromCheck(){
//        var reg = document.register;
//
//        if(reg.username.value==""){
//            reg.username.onblur();
//            return false;
//        }
//        else if(reg.password.value==""){
//            reg.password.onblur();
//            return false;
//        }
//        else if(reg.repassword.value==""){
//            reg.repassword.onblur();
//            return false;
//        }
//        else if(reg.mobile.value==""){
//            reg.mobile.onblur();
//            return false;
//        }
//        else if(reg.verify.value==""){
//            reg.verify.onblur();
//            return false;
//        }
//        else if(reg.mobilecode.value==""){
//            reg.mobilecode.onblur();
//            return false;
//        }else{
//            return true;
//        }
//    };

</script>
</body>
</html>